<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                Enter a song!
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>USER_NAME</h3>
            <div><i class="ni education_hat mr-2"></i>NAME_OF_KARAOKE_COMPETITION</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <form>
              <h4>Original Artist Name</h4>
              <p>
                <mat-form-field>
                  <mat-label>Legacy form field</mat-label>
                  <input matInput placeholder="Lighthouse Family">
                </mat-form-field>
              </p>

              <h4>Song Name</h4>
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Standard form field</mat-label>
                  <input matInput placeholder="High">
                </mat-form-field>
              </p>

              <h4>Youtube-Link (Karaoke)</h4>
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Fill form field</mat-label>
                  <input matInput placeholder="https://www.youtube.com/watch?v=I2rReu-Wzak">
                </mat-form-field>
              </p>

              <button style="margin-top:24px" class="btn btn-primary" type="button">Speichern</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
