<main class="profile-page">
  <section 
  style="height: 20%;"
  class="section-profile-cover section-shaped my-0">
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container shape-container d-flex align-items-center py-lg">
    </div>
    <div class="container" style="margin-top: 10%; padding: 5%;">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">  
          <h3 class="align-items-center">
            Songauswahl!
          </h3>
          <div class="mt-5 text-center">
            <div class="form-group">
              <label for="Original Artist Name">Original Artist Name</label>
              <p>
                  <input matInput
                  style="width: 100%;"
                  required
                  [(ngModel)]="songFormModel.originalArtist"
                  placeholder="Hermes House Band">
              </p>
              <label for="Song Title">Song Title</label>
              <p>
                  <input matInput
                  style="width: 100%;"
                  required
                  [(ngModel)]="songFormModel.name"
                  placeholder="Hermes House Band">
              </p>

              <label for="Youtube Karaoke Link">Youtube Karaoke Link</label>
              <p>
                <input matInput
                style="width: 100%;"
                required
                [(ngModel)]="songFormModel.youtubeKaraokeLink"
                placeholder="https://www.youtube.com/watch?v=I2rReu-Wzak">
              </p>

              <button 
                style="margin-top:24px" 
                class="btn btn-primary" 
                (click)="saveSong()"
                type="button"
                >Speichern</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
