<section class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2 class="mb-5">
          <span>How it works</span>
        </h2>
        <div>

          <div style="margin-top: 48px;">
            <h3 class="h4 text-primary font-weight-bold mb-4">Der Wettkampf</h3>
            <div>
              <p>
                Egal ob du nur abstimmen oder auch singen möchtest, bitte führe zunächst eine Registrierung durch.
              </p>
              <p>
                Nach Registrierungsschluss können keine weiteren Sänger*innen mehr eingetragen werden.  
                Geht die Registrierung nach dem Teilnahmeschluss ein, kann aber selbstverständlich noch mit abgestimmt werden.
              </p>
              <p>
                Zu Beginn der Turniers wird eine zufällige Reihenfolge bestimmt, nach der aufgetreten wird
              </p>
              <p>
                Anschließend wird gesungen & abgestimmt. Das Ergebnis liegt lediglich dem Gastgeber vor.
              </p>
              <p>
                <b>
                  Die Person mit der höchsten durchschnittlichen Stimmenanzahl gewinnt!
                </b>
              </p>
            </div>
          </div>
        </div>

        <div style="margin-top: 48px;">
          <h3 class="h4 text-primary font-weight-bold mb-4">Trage deinen Song ein</h3>
          <div>
            <p>
              Wenn du singen möchtest, trag dich mit deinem Songwunsch ein. 
              Du kannst bis zu deinem Auftritt deinen Titel noch verändern. 
            </p>
            <p>
              Für die Registrierung deines Songs trage den Link zur youtube-Karaoke Version ein. Achte darauf, dass der Link korrekt ist.
            </p>
            <p>
              Sofern du nur zuhören und voten möchtest, kannst du diesen Punkt überspringen
            </p>
          </div>
        </div>
     
        <div style="margin-top: 48px;">
          <h3 class="h4 text-primary font-weight-bold mb-4">Gib deine Stimme ab</h3>
          <div>
            <p>
              Sobald der Wettkampf läuft, hast du die Möglichkeit deine Stimme für die <i>Künstler</i> der Veranstaltung abzugeben.
            </p>
            <p>
              Dein Voting kannst du solange der Wettkampf läuft verändern, auch für bereits beendet Auftritte. 
            </p>
            <p>
              Die niedrigste Wertung ist 0, die höchste ist 100
            </p>
          </div>
        </div>

        <h3 style="margin-top: 48px;" class="h4 text-primary font-weight-bold mb-4">Spende</h3>
        <div>
          <p>
            Der Name ist Programm: Beim Charity-Karaoke geht es um den guten Zweck. 
          </p>
          <p>
            Für eine Spende sind wir sehr dankbar, das ist (neben dem Spaß) Grund für diese Veranstaltung(en)
          </p>
          <p>
            Wir sammeln für den Naturschutzbund Deutschland & Hilfspunkt Hamburg
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
