.headline {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.attendee {
  display: block;
  -webkit-box-shadow: 6px 6px 17px -4px rgba(111, 66, 193, 0.74);
  -moz-box-shadow: 6px 6px 17px -4px rgba(111, 66, 193, 0.74);
  box-shadow: 6px 6px 17px -4px rgba(111, 66, 193, 0.74);

  .currentlyPerforming {
    background-color: #f1ddfc;
  }

  .song {
    .cover {
      font-weight: bold;
    }
  }

  .selfvote {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.attendee {
  margin: 8px;
}
