<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div
              class="card-body px-lg-5 py-lg-5"
              style="padding: 5px !important"
            >
              <div class="px-4">
                <h3 class="headline">Abstimmung</h3>
              </div>
              <div class="zombieSubscription">
                {{ contestantsData$ | async }}
              </div>
              <div *ngIf="!currentSongId; then notStarted; else started"></div>
              <ng-template #notStarted>
                <div class="not-started">
                  <p>Die Veranstaltung hat noch nicht begonnen.</p>
                  <p style="margin-top: 16px">
                    Sobald die Veranstaltung gestart ist, kannst du hier die
                    Reihenfolge der Auftritte einsehen und diese bewerten!
                  </p>

                  <div
                    class="currently-registered"
                    *ngIf="contestantsData$ | async as current"
                  >
                    <div class="box">
                      Aktuell haben sich für diese Veranstaltung
                      {{ current.length }} Künstler*innen angemeldet
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template #started>
                <div
                  *ngIf="
                    contestantsLoading$ | async;
                    then loading;
                    else content
                  "
                ></div>

                <ng-template #loading>
                  Loading
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </ng-template>

                <ng-template #content>
                  <mat-accordion
                    *ngFor="
                      let contestant of contestantsData$ | async;
                      trackBy: identify
                    "
                  >
                    <div class="attendee">
                      <mat-expansion-panel
                        [ngClass]="
                          contestant.song.id == currentSongId
                            ? 'currentlyPerforming'
                            : 'notCurrentlyPerforming'
                        "
                      >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span class="song">
                              <div class="cover">
                                {{ contestant.name | trim }}
                              </div>
                              <span class="original">
                                <div>
                                  {{ contestant.song.name | trim }}
                                </div>
                              </span>
                            </span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <i>
                          Original Artist:
                          {{ contestant.song.originalArtist | trim }}
                        </i>
                        <div
                          class="selfvote"
                          *ngIf="isCurrentAttendee(contestant.id)"
                        >
                          Du kannst nicht für dich selber stimmen
                        </div>

                        <div *ngIf="!isCurrentAttendee(contestant.id)">
                          <mat-slider
                            style="width: 100%"
                            thumbLabel
                            [(ngModel)]="contestant.voteFromCurrentAttendee"
                            min="1"
                            max="100"
                          ></mat-slider>
                        </div>
                        <p>
                          <button
                            *ngIf="!isCurrentAttendee(contestant.id)"
                            style="margin-top: 12px; float: right"
                            class="btn btn-primary"
                            (click)="
                              saveVote(
                                contestant,
                                contestant.voteFromCurrentAttendee
                              )
                            "
                            type="button"
                          >
                            Speichern
                          </button>
                        </p>
                        <div class="ids">
                          <span>Song-ID: {{ contestant.song.id }}</span>
                          <span>
                            Attendee-ID:
                            {{ contestant.id }}
                          </span>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
