.headline {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.attendee {
  display: block;

  .currentlyPerforming {
    background-color: #ae82ff;
  }

  .notCurrentlyPerforming {
  }

  .song {
    .cover {
      font-weight: bold;
    }
  }
}

.attendee {
  margin: 4px;
}
