<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="livePageContainer">
                <h3
                  style="
                    display: flex;
                    justify-content: center;
                    margin-bottom: 24px;
                  "
                >
                  Live
                </h3>
                <div
                  *ngIf="!currentSongId; then notStarted; else started"
                ></div>

                <ng-template #notStarted>
                  <div class="not-started">
                    <p>Die Veranstaltung hat noch nicht begonnen.</p>
                    <p style="margin-top: 16px">
                      Sobald die Veranstaltung gestart ist, kannst du hier die
                      Reihenfolge der Auftritte einsehen und diese bewerten!
                    </p>

                    <div
                      class="currently-registered"
                      *ngIf="contestantsData$ | async as current"
                    >
                      <div class="box">
                        Aktuell haben sich für diese Veranstaltung
                        {{ current.length }} Künstler*innen angemeldet
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template #started>
                  <div class="error" *ngIf="!currentAttendee">
                    currentAttendee is null
                  </div>

                  <div *ngIf="currentAttendee">
                    <div class="currentlyPerformingAttendee">
                      <b>
                        {{ currentAttendee.name }}
                      </b>
                    </div>

                    <div class="song">
                      <a
                        target="_blank"
                        href="{{ currentAttendee.song.youtubeKaraokeLink }}"
                      >
                        <b>Artist:</b>
                        {{ currentAttendee.song.originalArtist }}
                        <div>
                          <div>
                            <b>Title:</b>
                            {{ currentAttendee.song.name }}
                          </div>
                        </div>
                      </a>
                      <div class="ids">
                        <span>Song-ID: {{ currentAttendee.song.id }}</span>
                        <span>
                          Attendee-ID:
                          {{ currentAttendee.id }}
                        </span>
                      </div>
                    </div>
                    <div class="buttonContainer">
                      <span>
                        <button
                          type="button"
                          class="btn btn-primary my-4"
                          [disabled]="!prevContestant"
                          (click)="goToPreviousSinger()"
                        >
                          <span class="material-icons"> navigate_before </span>
                        </button>

                        <button
                          type="button"
                          class="btn btn-primary my-4"
                          [disabled]="!nextContestant"
                          (click)="goToNextSinger()"
                        >
                          <span class="material-icons"> navigate_next </span>
                        </button>
                      </span>
                    </div>

                    <span *ngIf="prevContestant">
                      {{ prevContestant.name }} ({{ prevContestant.song.id }})
                    </span>
                    <b
                      >{{ currentAttendee.name }} ({{
                        currentAttendee.song.id
                      }})</b
                    >
                    <span *ngIf="nextContestant">
                      {{ nextContestant.name }} ({{ nextContestant.song.id }})
                    </span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
