<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img class="icon" src="assets/img/icons/ck_navbar.png" />
    </a>

    <div *ngIf="getCurrentUser().name" style="color: white">
      Hallo {{ getCurrentUser().name }} ({{ getCurrentUser().karaokeId }})!
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="navigationClicked$.next()"
      [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <span class="close">
          <a (click)="navigateToPage()" class="dropdown-item">X</a>
        </span>
        <div class="row">
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <div class="navigation-category" *ngIf="!isLoggedIn()">
              <li class="nav-item dropdown" (click)="navigateToPage()">
                <b>Menu</b>
                <a [routerLink]="['/register']" class="dropdown-item"
                  >Registierung</a
                >
                <a [routerLink]="['/login']" class="dropdown-item">Login</a>
              </li>
            </div>

            <div class="navigation-category" *ngIf="isLoggedIn()">
              <b>Veranstaltung</b>
              <a [routerLink]="['/song-selection']" class="dropdown-item"
                >Songauswahl</a
              >
              <a [routerLink]="['/voting']" class="dropdown-item">Abstimmung</a>
            </div>
            <div
              class="navigation-category"
              *ngIf="isAuthorizedAdmin() == true"
            >
              <b>Admin</b>
              <a [routerLink]="['/results']" class="dropdown-item">Ergebnis</a>
              <a [routerLink]="['/live-page']" class="dropdown-item"
                >Karaoke-Live-Page</a
              >
              <a
                [routerLink]="['/karaoke-administration']"
                class="dropdown-item"
                >Verwaltung</a
              >
            </div>
            <div class="navigation-category" *ngIf="isLoggedIn()">
              <a
                (click)="performLogout()"
                [routerLink]="['/home']"
                class="dropdown-item"
                >Logout</a
              >
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
