<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <h3 style="color:white">CK</h3>
    </a>

    <div *ngIf="getCurrentUser()" style="color:white"> Hallo {{getCurrentUser().name}}!</div>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown" (click)="navigateToPage()">
              <b>Veranstaltung</b>
              <a *ngIf="!getCurrentUser()" [routerLink]="['/register']" class="dropdown-item">Registierung</a>
              <a *ngIf="!getCurrentUser()" [routerLink]="['/login']" class="dropdown-item">Login</a>
              <a *ngIf="getCurrentUser()" [routerLink]="['/song-selection']" class="dropdown-item">Songauswahl</a>
              <a *ngIf="getCurrentUser()" [routerLink]="['/voting']" class="dropdown-item">Abstimmung</a>
              <mat-divider></mat-divider>
              <b>Admin</b>
              <a *ngIf="getCurrentUser().isAdmin" [routerLink]="['/results']" class="dropdown-item">Ergebnis</a>
              <mat-divider></mat-divider>
              <a (click)="performLogout()" [routerLink]="['/home']" class="dropdown-item">Logout</a>
            </li>
          </ul>
        </div>
      </div>   
    </div>
  </div>
</nav>
