<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <h3 style="color:white">CK</h3>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
                <a [routerLink]="['/song-selection']" class="dropdown-item">Teilnehmen</a>
                <a [routerLink]="['/voting']" class="dropdown-item">Abstimmen</a>
                <a [routerLink]="['/login']" class="dropdown-item">Login</a>
                <a [routerLink]="['/register']" class="dropdown-item">Registrieren</a>
            </li>
          </ul>
        </div>
      </div>   
    </div>
  </div>
</nav>
