<main>
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-primary">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="px-4">  
                <h3 class="align-items-center">
                  Registrierung
                </h3>
              </div>
              <form role="form">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" (focus)="focus2=true" (blur)="focus2=false">
                  </div>
                </div>

                             
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                      <select class="form-control"  id="power"
                              required>
                        <option 
                        *ngFor="let karaoke of allKaraokeCompetitions" [value]="karaoke.name">{{karaoke.name}}</option>
                      </select>
                    </div>
                </div>


                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <label>
                        <b>Diese Informationen werden ausschließlich zu deiner Identifikation während des ausgewählten Wettkampfs benötigt.</b>
                        <b>Mit dem Erstellen deines Accounts gibst du uns die Erlaubnis deinen Namen zu speichern.</b>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4">Account erstellen</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
