.text {
  background-image: url("src/assets/img/icons/ck_main_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 600px;
  text-align: justify;
}

.button-container {
  display: flex;
  flex-direction: column;
}
