.logo {
  position: relative;
  height: 50%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  max-height: 500px;
}

.container {
  max-width: 600px;

  .text {
    text-align: justify;
  }
}
